@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --color-primary: #f5f5f5;
  --color-secondary: #022d33;
  --color-light: #ffffff;
  --color-danger: #fe5000;
  --transition: all 0.3s ease-in-out;
}

@font-face {
  font-family: primary;
  src: url(./Bunch/Bunch-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: o;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: var(--color-primary);
  overflow-x: hidden;
}
